<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="strict" Description="Strict Custom RuleSet" ToolsVersion="14.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1724" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>